<h1>Contact Information</h1>
<br>

<h3>First Name: <%= @current_contact.first_name %></h3>
<h3>Last Name: <%= @current_contact.last_name %></h3>
<h3>Company Name: <%= @current_contact.company %></h3>
<h3>Job Title: <%= @current_contact.job_title %></h3>

<ul>
  <% (@current_contact.mailing_addresses()).each do |address| %>
  <li><a href="/address/<%= address.id() %>/<%= @current_contact.id() %>">Address City: <%= address.city() %></a></li>
  <% end %>
</ul>

<ul>
  <% (@current_contact.phone_numbers()).each do |number| %>
  <li><a href="/number/<%= number.id() %>/<%= @current_contact.id() %>">Phone Number: <%= number.phone_number() %></a></li>
  <% end %>
</ul>

<ul>
  <% (@current_contact.email_addresses()).each do |email| %>
  <li><a href="/email/<%= email.id() %>/<%= @current_contact.id() %>">Email: <%= email.address() %></a></li>
  <% end %>
</ul>

<p><a href="/contact/new_address/<%= @current_contact.id() %>">Add a New Address for this Person</a></p>

<p><a href="/contact/new_phone/<%= @current_contact.id() %>">Add a New Phone Number for this Person</a></p>

<p><a href="/contact/new_email/<%= @current_contact.id() %>">Add a New Email Address for this Person</a></p>
